
.carousel-events {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* Navigation Bar */
.navbarlight {
  display: flex;
  height: 75px;
  background-color: #4894ea;
  max-width: 100%;
  padding: 1rem;
  position:inherit;
}
.navbardark {
  background-color: #305988fe;
  width: 100%;
  padding: 1rem;
  position:inherit;
}
.navbardark, .navbarlight {
  display: flex;
  height: 100px;
  justify-content: center;
  justify-content: space-evenly;
  align-content: center;
  
}

/* NavBar: search */
.search {
  translate: -100px 15px;
}

.d-flex justify-content-center {
  width: 150px; 
  height: 75px;
  object-position: 0 0 -100;
  object-fit: cover; 
  display: block;
  margin: auto;
  
}
/* NavBar Logo */
.logodark:hover, .logolight:hover {
  transform: scale(1.1);
  filter: hue-rotate(1090deg);
  transition: 2s;
} 

.logodark, .logolight {
  translate: -10px;
  transform: scale(0.5);
}

/* NavBar buttons */
.toggle {
  translate: 100px 15px;

}

.userButton {
  display: flex;
  justify-content: space-evenly;
}

/* Featured event sections */
.Featured {
  width: 100%;
  height: 500px;
}
.Featured img {
width: 100%; 
height: 350px; 
object-fit: cover;
object-position: 25% 70%; 
filter: contrast(75%);
}

.Featured img:hover{
  transform: scale(1.03);
  transition: 0.5s;
  filter: contrast(100%);
}
/* Events Listings */

.list .panel-header {
  color: white;
}
.listdark, .listlight {
  padding: 30px;
  margin-top: -10rem;
}

.listdark{
  background-color: #305988fe;
}

.listlight{
  background-color: #4894ea;
}

.showAll{
  color: white;
  font-size: 5em;
}

.initialList img, .expandedList img{
  max-width: 100%;
  max-height: 100%;
}

.initialList, .expandedList{
  display: flex;
  justify-content: space-around; 
  padding: 2px;
  margin-top: 10px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.Event img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  filter: contrast(75%);
  
}

.Event img:hover {
  filter: contrast(100%);
}
.list {
  background-color: #4894ea;
  /* background-image: url("https://cdn.shopify.com/s/files/1/0268/0307/7299/products/LH900109---Boho---Whale-Of-A-Times-Deep-Sea-Blue_1000x.jpg?v=1614282229"); */
  filter: hue-rotate(10%);
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 50px;
  margin-top: -100px;
}


.show-btn {
  transform: scale(1.1);
  transition: 0.1s;
}

.eventImage {
  width: 100%; 
  height: 400px; 
  object-fit: cover;
  object-position: 25% 70%; 
}


@media (prefers-reduced-motion: no-preference) {
  .logodark, .logolight {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* =========== Event Card =======================*/
.eventImage {
  display: flex;
  border: 15px solid rgb(50, 86, 155);
}

.eventCardName {
  font-size: 70px;
  margin-left: 30px;
  /* margin-bottom: 30px; */
}

.description {
  margin-left: 30px;
}

.leftChild {
  display: inline-block;
  border: 3px solid rgb(50, 86, 155);
  padding: 50px;
  margin: 30px;
  vertical-align: middle;
  border-radius: 15px;

  /* text-align: center; */
}

.getTicketsButton {
  background-color: #4894ea;
  border: none;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
}

.getTicketsButton:hover {
  background-color:rgb(50, 86, 155);
  transition: 0.2s;
}

