.Featured {
  width: 100%;
  height: 500px;
}
.Featured img {
width: 100%; 
height: 400px; 
object-fit: cover;
object-position: 25% 70%; 
}

.carousel-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.navbar {
  display: flex;
  height: 60px;
  background-color: #4894ea;
  max-width: 100%;
  padding: 1rem;
  align-items:center;
  position: relative;
}
.logo {
  width: 150px; 
  height: 75px;
  object-position: 0;
  object-fit: cover; 
  display: block;
  margin: auto;
  
}


.logo:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.show-btn {
  transform: scale(1.1);
  transition: 0.1s;
}

.eventImage {
  width: 100%; 
height: 400px; 
object-fit: cover;
object-position: 25% 70%; 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Event Card */
.eventCardName {
  font-size: 70px;
  margin-left: 30px;
  margin-bottom: 0;

}

.description {
  margin-left: 30px;
  margin-bottom: 0;
}
.eventImage {
  display: flex;
  border: 15px solid rgb(50, 86, 155);
}

.leftChild {
  display: inline-block;
  border: 0px solid rgb(50, 86, 155);
  padding: 50px;
  margin-left: 30px;
  vertical-align: middle;
  /* text-align: center; */
}

